<div class="text-black-400 text-xl">
    <h1>Hola mundo!</h1>
    <br>
    <br>
  {{#if session.loggedin}}
    <a href="/logout">Cerrar sesión</a>
  {{else}}
    <h1>Para ver el contenido inicia sesión</h1>
  {{/if}}
</div>