<div class="text-black-400 text-xl">
<dir>
    {{#if session}}
    <h1>Hola, <strong>{{usuario}}</strong> un gusto verte de nuevo!</h1>
    {{else}}
    <h1>Pagina inicial de Centro de Consultoria informatica</h1>
    {{/if}}
</div>